@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Serif+Display:ital@0;1&family=Nabla&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Serif+Display:ital@0;1&family=Nabla&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #36384d;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main_div {
  width: 928px;
  height: 641px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 36px;
}

.subscribe_div {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  padding-left: 50px;
}

.h1_text {
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  color: #242742;
  align-self: flex-start;
}

.first_text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0px;
  color: #242742;
}

.orange_div {
  width: 21px;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #ff6155;
  align-self: flex-start;
}

.check_main {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.check {
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.check_text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #242742;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0px;
}

.email_div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}

.email_div1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.email {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #242742;
  letter-spacing: 0px;
  line-height: 150%;
}

.input {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(25, 24, 43, 0.25);
  padding: 15px;
  border-radius: 8px;
}

.input:focus {
  border: 1px solid rgba(25, 24, 43, 1);
}

.input:hover {
  cursor: pointer;
}

.input_text:focus {
  opacity: 1;
  font-family: "Roboto Flex", sans-serif;
  color: rgba(36, 39, 66, 1);
}

.input_text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0px;
  color: rgba(36, 39, 66, 0.5);
}

.button {
  width: 100%;
  height: 56px;
  border-radius: 8px;
  background-color: #242742;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: white;
  line-height: 150%;
  letter-spacing: 0px;
  text-decoration: none;
}

.button:hover {
  background: linear-gradient(
    180deg,
    rgba(255, 106, 58, 1),
    rgba(255, 82, 123, 1)
  );
}

.image {
  width: 400px;
  height: 593px;
  padding: 20px;
}

@media (max-width: 950px) {
  body {
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }

  .main_div {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding: 0px;
  }

  .image {
    width: 100%;
    padding: 0px;
    height: 300px;
  }

  .h1_text {
    font-size: 56px;
  }

  .first_text {
    align-self: flex-start;
    font-size: 18px;
  }

  .subscribe_div {
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .check_text {
    font-size: 15px;
  }

  .button {
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  body {
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }

  .h1_text {
    font-size: 40px;
  }

  .main_div {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding: 0px;
  }

  .image {
    width: 100%;
    padding: 0px;
    height: 300px;
  }

  .first_text {
    align-self: flex-start;
  }

  .subscribe_div {
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .check_text {
    font-size: 10px;
  }

  .button {
    font-size: 13px;
  }
}
