@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Serif+Display:ital@0;1&family=Nabla&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: rgba(54, 56, 77, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_div {
  width: 504px;
  height: 520px;
  background-color: white;
  border-radius: 36px;
}

.second_div {
  width: 100%;
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 35px;
}

.div_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 25px;
}

.orange_div {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background: linear-gradient(#ff6a3a, #ff527b);
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1_text {
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-weight: 700;
  color: #242742;
  line-height: 100%;
  letter-spacing: 0px;
}

.first_text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #242742;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0px;
}

span {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #242742;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0px;
}

.button {
  background-color: #242742;
  width: 100%;
  height: 56px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: white;
  text-decoration: none;
}

.button:hover {
  background: linear-gradient(
    180deg,
    rgba(255, 106, 58, 1),
    rgba(255, 82, 123, 1)
  );
}

@media (max-width: 550px) {
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }

  .main_div {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .second_div {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 70px;
  }

  .button {
    margin-top: 130px;
  }

  .h1_text {
    font-size: 40px;
  }
}
